<div class="ui container" ng-show="!create && !clone">
  <div class="ui three column very relaxed grid center aligned">
    <div class="column" style="margin-top:15%">
      <div class="ui primary labeled icon button">
        Create New Repository
        <i class="add icon"></i>
      </div>
      <div class="ui raised container segment">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      </div>
    </div>
    <div class="ui" style="margin-top:15%">
      <img src="img/buddy.png" class="ui small image"/>
    </div>
    <div class="column" style="margin-top:15%">
      <div class="ui primary labeled icon button" ng-click="clone = true">
        Clone Exisiting Repository
        <i class="clone icon"></i>
      </div>
      <div class="ui raised container segment">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      </div>
    </div>
  </div>
</div>

<div ng-show="clone">
  <div class="ui column grid center aligned">
    <form class="ui form" style="margin-top:100px; width:500px">
        <div class="field">
          <label  data-tooltip="The name of your project" data-position="top left">Repository Name</label>
          <input type="text" placeholder="MyCoolProject" ng-model="newClone.name" required>
        </div>
        <div class="field">
          <label data-tooltip="The URL where your remote repository is hosted" data-position="top left">URL</label>
          <input type="text" placeholder="https://github.com/torvalds/linux.git" ng-model="newClone.url" required>
        </div>
        <div class="field">
          Repository will be saved to <kbd>Documents/YouGitRepos/</kbd> by default.
          Alternatively you can choose a location to save the repository.
        </div>
        <div class="field">
          <button class="ui icon button" ng-click="chooseSaveLocation()">Choose Location <i class="folder icon"></i></button>
          <span ng-if="chosenCloneFolder">Folder: {{chosenCloneFolder}}</span>
        </div>
        <div class="ui primary submit button" ng-class="{'loading': loadingClone}" ng-click="cloneRepo()">Clone Repository</div>
        <div class="ui button" ng-click="clone = false">Cancel</div>
    </form>
  </div>
</div>