<div class="ui container grid">
  <div class="column">
    <div class="ui left vertical inverted labeled icon sidebar menu visible">
      <a class="item" ng-class="{'active': navActive === 'changes'}" ui-sref="repository.changes">
        <i class="code icon"></i>
        Changes
      </a>
      <a class="item" ng-class="{'active': navActive === 'branches'}" ui-sref="repository.branches">
        <i class="share alternate layout icon"></i>
        Branches
      </a>
      <a class="item" ng-class="{'active': navActive === 'history'}" ui-sref="repository.history">
        <i class="history icon"></i>
        History
      </a>
      <a class="item" ng-class="{'active': navActive === 'chat'}" ui-sref="repository.chat">
        <i class="chat icon"></i>
        Chat
      </a>
      <a class="item" ui-sref="repository.settings">
        <i class="settings icon"></i>
        Settings
      </a>
      <a class="item" ui-sref="repository">
        <i class="bold icon"></i>
        Dev
      </a>
    </div>
  </div>

  <div class="sixteen wide column">
    <div ui-view></div>
  </div>

</div>